<launch>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
  </node>
    <node pkg="orb_slam2_ros" type="Mono" name="orb_slam2" args="$(find orb_slam2_lib)/Vocabulary/ORBvoc.txt $(find orb_slam2_ros)/settings/logitech_mono.yaml" cwd="node" output="screen">
        <remap from="/camera/image_raw" to="/camera/rgb/image_raw" />
        <param name="camera_frame" type="string" value="usb_cam" />
        
    </node>
    <node type="rviz" name="rviz" pkg="rviz" args="-d /home/oz/Desktop/neworbslam/src/rviz_config.rviz" />
</launch>

